In [1]:
books = {"KLB", "Encyclopedia", "Flying colors", "Fathers of Nation"}
books.add("Python Editor")
print(books)

{'Python Editor', 'Fathers of Nation', 'Encyclopedia', 'Flying colors', 'KLB'}

In [2]:
church={'GRC','AIC','FGCK','CCMI'}
church.add('kkl')
print(church)

{'kkl', 'FGCK', 'GRC', 'CCMI', 'AIC'}

In [3]:
bookstitles = {"KLB", "Encyclopedia", "Flying colors", "Fathers of Nation"}
towns={"Mwingi", "Kitui", "Machakos", "Nairobi"}
bookstitles.update(towns)
print(bookstitles)

{'Fathers of Nation', 'Kitui', 'Machakos', 'Nairobi', 'Encyclopedia', 'Flying colors', 'Mwingi', 'KLB'}

In [6]:
mintowns = {"Mwingi", "Kitui", "Machakos", "Nairobi"}
mintowns.remove("Mwingi")
print(mintowns)

{'Nairobi', 'Machakos', 'Kitui'}

In [7]:
mtowns = {"Mwingi", "Kitui", "Machakos", "Nairobi"}
mtowns.discard("Mwingi")
print(mtowns)

{'Nairobi', 'Machakos', 'Kitui'}

In [10]:
namingconv = {"snakecase", "kebabcase", "pascalcase", "camelcase"}
xy = namingconv.pop()
print(xy)
print(namingconv)

pascalcase
{'kebabcase', 'camelcase', 'snakecase'}

In [11]:
naming = {"snakecase", "kebabcase", "pascalcase", "camelcase"}
naming.clear()
print(naming)

set()

In [12]:
fruits = {"apple", "banana", "cherry", "date"}
del fruits
print(fruits)

NameError: name 'fruits' is not defined

In [ ]:
# Exercise?
# What is a correct syntax for removing an item from a set?
# delete() - deletes the entire set
remove() - removes a specified item
# extract() - it is not a valid method

In [ ]:
# Use the remove method to remove "banana" from the fruits set.
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

In [ ]:
# Use the discard method to remove "banana" from the fruits set.
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'cherry', 'apple'}

In [15]:
# Select the correct function to remove all items from a set:
fruits = {'apple', 'banana', 'cherry'}
fruits.clear()
print(fruits)

set()

In [16]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

cherry
apple
banana

In [ ]:
# Exercise?
# What is a correct syntax for looping through the items of a set?

for x in {'apple', 'banana', 'cherry'}:
  print(x)
# for x in {'apple', 'banana', 'cherry'}
#   print(x)
# foreach x in {'apple', 'banana', 'cherry'}
#   print(x)

In [17]:
# union()
# returns a new set with all items from both sets.
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [18]:
# you use the | operator to perform a union operation on two sets.
set11 = {"a", "b", "c"}
set22 = {1, 2, 3}
set33 = set11 | set22
print(set33)

{1, 2, 3, 'a', 'c', 'b'}

In [ ]:
# add multiple sets
fruitss = {"apple", "banana", "cherry"}
numbers = {1, 2, 3}
vegetables = {"carrot", "potato", "cabbage"}
phone = {72, 73, 74}

all_items = fruitss.union(numbers, vegetables, phone, fruitss)
print(all_items)

list_items = fruitss | numbers | vegetables | phone | fruitss
print(list_items)

{1, 2, 3, 'cabbage', 72, 73, 74, 'banana', 'potato', 'apple', 'carrot', 'cherry'}
{1, 2, 3, 'cabbage', 72, 73, 74, 'banana', 'potato', 'apple', 'carrot', 'cherry'}

In [27]:
# The union() method allows you to join a set with other data types, like lists or tuples.
x = {"a", "a", "b", "c"}
y = (1, 2, 3)
a = ["dog", "cat", "mouse"]

z = x.union(y, a)
print(z)

{1, 2, 3, 'cat', 'mouse', 'a', 'c', 'b', 'dog'}

In [ ]:
# The update() method inserts all items from one set into another.
# The update() changes the original set, and does not return a new set.
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

In [ ]:
# The intersection() method will return a new set, that only contains the items that are present in both sets.
set13 = {"a", "b", "c"}
set23 = {"e", "c", "g"}
set34 = set13.intersection(set23)
print(set34)

{'c'}

In [ ]:
# you can also use the & operator to perform an intersection operation on two sets.` 
set14 = {"a", "b", "c"}
set24 = {"e", "c", "g"}
set35 = set14 & set24
print(set35)
# Note: The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.

{'c'}

In [36]:
# The intersection_update() method will also keep ONLY the duplicates,
# but it will change the original set instead of returning a new set.
fruitstoday = {"apple", "banana", "cherry"}
fruitsyesterday = {"banana", "cherry", "orange"}
fruitstoday.intersection_update(fruitsyesterday)
print(fruitstoday)

{'cherry', 'banana'}

In [38]:
# The values True and 1 are considered the same value. The same goes for False and 0.
firstlist = {"apple", 1, "banana", 0, "cherry"}
secondlist = {False, "google", 1, "apple", 2, True}
thirdlist = firstlist.intersection(secondlist)
print(thirdlist)

{False, 1, 'apple'}

In [39]:
# The difference() method will return a new set 
# that will contain only the items from the first set that are not present in the other set.
fourthlist = firstlist.difference(secondlist)
print(fourthlist)

{'cherry', 'banana'}

In [40]:
# You can use the - operator instead of the difference() method, and you will get the same result.
fifthlist = firstlist - secondlist
print(fifthlist)

{'cherry', 'banana'}

In [46]:
# The difference_update() method will also keep the items from the first set that are not in the other set,
# but it will change the original set instead of returning a new set.
fruitx = {"apple", 1, "banana", 0, "cherry"}
veggies = {"cherry", "potato", "cabbage", True, 2}
veggies.difference_update(fruitx)
print(veggies)

{'potato', 'cabbage', 2}

In [47]:
# The symmetric_difference() method will keep only the elements that are NOT present in both sets.
shopping = veggies.symmetric_difference(fruitx)
print(shopping)

{0, 1, 'potato', 'cabbage', 'apple', 2, 'cherry', 'banana'}

In [45]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)
print(set3)

{'google', 'microsoft', 'banana', 'cherry'}

In [48]:
# You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'google', 'microsoft', 'banana', 'cherry'}

In [49]:
# The symmetric_difference_update() method will also keep all but the duplicates,
# but it will change the original set instead of returning a new set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'google', 'microsoft', 'banana', 'cherry'}

In [ ]:
# Exercise?
# What is a correct syntax for joining set1 and set2 into set3?


# set3 = join(set1, set2)
# set3 = set1 + set2
set3 = set1.union(set2)

In [ ]:
# What is a correct syntax for joining multiple sets into one new set called set5?

set5 = join(set1, set2, set3, set4)
set5 = set1 | set2 | set3 | set4
set5.union(set1, set2, set3, set4)

In [ ]:
# There are many ways to join sets in Python. Which one of the following methods keeps ONLY the duplicates?

intersection()
union()
difference()