In [4]:
apples = 73
kiwi = 99
ngomoa =43
mangoes = 67

if [mangoes+kiwi+ngomoa]>[apples]:
    print("we harvested more mangoes, kiwi and ngomoa this season.")
else:
    print("The harvest of apples was good this season.")
boys=98
girls=100
if[boys]>[girls]:
    print ('more girls than boys')
else:
    print('more girls than boys') 
y=35
p=76
if [y]>[p]:
    print('more elders than young')
else:
    print('more young than elders')

we harvested more mangoes, kiwi and ngomoa this season.
more girls than boys
more young than elders

In [6]:
print(bool("hello"))
print(bool('Reuben'))
print(bool('Faith'))

True
True
True

In [8]:
x = "Hello"
y = 15
vb=764
bv='JACXKSON' 
print(bool(vb))

print(bool(x))
print(bool(y))

True
True
True

In [ ]:
print(bool("hello"))
# empty/null
print(bool(''))

True
False

In [10]:
#0 0r empty bracket is printed as 'false' in boolean data type
print(bool(56))
# Null/None
print(bool(0))
print(bool())
print(bool(0))

True
False
False
False

In [11]:
fruits=["apple", "cherry", "ngomoa"]
print(bool(fruits))
# empty/null
houses=[]
print(bool(houses))
subject=('chem','phy','maths')
schools=()
print(bool('subjects'))
print('schools')

True
False
True
schools

In [12]:
print(bool(None))

False

In [13]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [14]:
print((6 + 3) - (6 + 3))

0

In [12]:
print(100 + 5 * 3)

115

In [16]:
# What will be the result of the following syntax:
x = 5
x += 3
print(x)
# 3
# 5
# 8

8

In [ ]:
# Multiply 10 with 5, and print the result.
y = 10 * 5
print(y)
# print(10*5)

50
50

In [ ]:
# Divide 10 by 2, and print the result.
# 5.0 is float, 5 is integer
print(10//2)

5

In [15]:
# Use the correct membership operator to check if "apple" 
# is present in the fruits object/var.

fruits = ["apple", "banana"]
if "apple" in fruits:
  print("Yes, apple is a fruit!")
names=['Reuben','Maingi','jack','Wambiru']
if 'Reuben' in (names):
  print("handsome")
else:
  print('beatiful')

Yes, apple is a fruit!
handsome

In [ ]:
# Use the correct comparison operator to check if 5 is not equal to 10.
# ! this is not = this is equal to != not equal to

if 5 != 10:
  print("5 and 10 is not equal")

5 is not equal to 10

In [ ]:
# Use the correct logical operator to check if at least one of two statements is True.
# logical operators = or, and , not

if 5 == 10 or 4 == 4:
  print("At least one of the statements is true")
if 78==45 or 67==67:
  print(' atleast one of the statement is true')

At least one of the statements is true
print atleast one of the statement is true

In [20]:
this_is_a_list = ["cup", "plate", "spoon", "fork"]
print(this_is_a_list)
these_are_cars=['mercedez','toyota','isuzu']
print(these_are_cars)

['cup', 'plate', 'spoon', 'fork']
['mercedez', 'toyota', 'isuzu']

In [24]:
thislist = ["apple", "banana", "cherry", "apple", "cherry", "banana"]
print(thislist)
print(len(thislist))
fruits=['apples','kiwi','pineapple','paper','watermelon']
print(len(fruits))

['apple', 'banana', 'cherry', 'apple', 'cherry', 'banana']
6
5

In [ ]:
mixed_list=["list", True, 14, "number", False]

print(mixed_list)
# type
print(type(mixed_list))

{False, True, 'list', 'number', 14}
<class 'set'>

In [36]:
# list()
#you can use this to convert the tuple list to list
thelist = list(("apple", "banana", "cherry"))
print(thelist)
names=list(('Kamau','Njoroge','James'))
print(names)

['apple', 'banana', 'cherry']
['Kamau', 'Njoroge', 'James']

In [38]:
# What will be the result of the following syntax:
mylist = ['apple', 'banana', 'cherry']
print(mylist[1])
schools=['KINGS','MOI','VOI']
print(schools[2])

banana
VOI

In [ ]:
# True or False.
# List items cannot be removed after the list has been created.

# False

In [14]:
# Select the correct function for returning the number of items in a list:

thislist = ['apple', 'banana', 'cherry']
print(len(thislist))

3

In [1]:
8.9 == 7.9

False